body{
    background-color: #51d77b;
}

h1{
    color: #ffff;
    text-align: center;
    margin-top: 25%;
    font-family: 'Roboto Mono', monospace;
}

p{ 
    color: #ffff;
    text-align: center;
    font-family: 'Roboto Mono' , monospace;

}